@import "ceaser-easing";   
@import "compass/css3";
@import "helpers";
@import "colors";
@import "icons";

$toolbar-height : 30px;
$toolbar-width : 200px;
$zoomCubeDuration : 400ms;
$navbar-transition-duration : 350ms;
$navbar-show-delay : $navbar-transition-duration * 0.75;
$navbar-hide-delay : $navbar-transition-duration / 1.5;

#app {
  position : absolute;
  top      : 0;
  left     : 0;
  right    : 0;
  bottom   : 0;
  //@include transition(all $zoomCubeDuration);
}

#app .page {
  background : white url(/images/low_contrast_linen.png) repeat left top;
  @include image-2x("/images/low_contrast_linen@2x.png", 46px, 29px);
  width      : 100%;
  height     : 100%;
  overflow   : auto;
}

#app .page::-webkit-scrollbar {
  -webkit-appearance : none;
  width              : 7px;
}

#app .page::-webkit-scrollbar-thumb {
  border-radius      : 4px;
  background-color   : rgba(0, 0, 0, .5);
  -webkit-box-shadow : 0 0 1px rgba(255, 255, 255, .5);
}

#app .map-view >  header,
#app .map-view >  .map {
  position : absolute;
  left     : 0;
  top      : 0;
  width    : 100%;
}

#app .map-view >  header {
  height         : 0;
  padding        : 0 0;
  height         : 100%;
  line-height    : $toolbar-height - 6;
  z-index        : 2;
  vertical-align : middle;
  width          : 0;
}

#app.toolbar-visible .map-view > header {
  width : $toolbar-width;
}

#app .map-view >  header > div {
  visibility : hidden;
  width      : $toolbar-width;
  height     : 100%;
  left       : - $toolbar-width;
  position   : relative;
}

#app.toolbar-visible .map-view > header > div {
  visibility : visible;
  left       : 0;
}

#app .map-view >  header nav {
  //  display  : none;
  position    : absolute;
  top         : 40px;
  padding-top : 20px;
  width       : 100%;
  left        : - $toolbar-width;
}

#app.toolbar-visible .map-view > header nav {
  left : 0;
}

#app .map-view >  header nav ul li {
  display : block;
  padding : 0 20px 0 10px;
}

#app .map-view >  header nav ul li + li {
  margin-top : 15px;
}

#app .map-view >  header nav ul li a {
  color           : $blue;
  background      : rgba($yellow, 0);
  display         : block;
  padding         : 9px 0 5px 8px;
  text-decoration : none;
  @include transition(all 100ms);
  margin          : 0 -20px 0 -10px;
  white-space     : nowrap;
  position        : relative;
}

#app.toolbar-visible .map-view > header nav ul li a {
  left : 0;
}

#app .map-view >  header nav ul li a:hover {
  color      : $dark-blue;
  background : rgba($yellow, 1);
}

#app .map-view >  header nav ul li a span[data-icon]::before {
  font-size : 40px;
}

#app .map-view >  header nav ul li a:hover span[data-icon]::before {
}

#app .map-view >  header nav ul li input[type=text] {
  color       : $blue;
  font-weight : bold;
  border      : 4px solid $yellow;
  background  : $white;
  outline     : none;
  font-size   : 20px;
  width       : 100%;
  padding     : 2px 4px;
}

#app .map-view >  header nav ul li input::-webkit-input-placeholder {
  color : rgba($blue, 0.5);
}

#app .map-view >  header nav ul li input:-moz-placeholder {
  color : rgba($blue, 0.5);
}

#app .map-view >  header nav ul li input::-moz-placeholder {
  color : rgba($blue, 0.5);
}

#app .map-view >  header nav ul li input:-ms-input-placeholder {
  color : rgba($blue, 0.5);
}

#app .map-view >  header nav article {
  padding : 0 20px 20px 10px;
}

#app .map-view >  header nav article p {
  font-size   : 12px;
  line-height : 14px;
  color       : $grey;
  font-weight : 300;
}

#app .map-view >  header footer {
  position    : absolute;
  bottom      : 0;
  left        : 10px;
  right       : 15px;
  font-size   : 12px;
  font-weight : 300;
  color       : $grey;
  text-align  : left;
}

#app .map-view >  header footer a {
  text-decoration : none;
  font-weight     : 400;
  color           : adjust-lightness($grey, -20);
}

#app .map-view >  header footer a:hover {
  text-decoration : underline;
}

#app .map-view >  .map {
  //background : transparent url(/images/mapdummy.jpg) no-repeat left top;
  //@include background-size(cover);
  bottom       : 0;
  left         : 0;
  padding-left : 0;
  top          : 0;
  @include transform-origin(right, 0);
  z-index      : 1;
  width        : 100%;
}

#app.toolbar-visible .map-view > .map {
  @include box-shadow(0px 0 25px 5px rgba($black, 1));
  padding-left : $toolbar-width;
}

#app .map-view >  .map > div {
  height : 100%;
  width  : 100%;
}

#app .map-view >  .map::before {
  content    : "";
  display    : block;
  width      : 4px;
  background : $yellow;
  height     : 100%;
  position   : absolute;
  top        : 0;
  left       : -4px;
  z-index    : 2;
}

h1.logo {
  display        : inline-block;
  font-size      : 20px;
  color          : $yellow;
  // background-color : $yellow;
  vertical-align : middle;
  margin-left    : 10px;
}

#app.toolbar-visible h1.logo {
  //color: $yellow;  
  //background: transparent;
  @include box-shadow(initial);
}

.show-menu-button {
  background      : $blue;
  display         : inline-block;
  text-decoration : none;
  color           : $white;
  //@include text-shadow(rgba($black, 0.4) 0 0 5px);
  font-size       : 36px;
  vertical-align  : middle;
  padding         : 4px 2px 2px;
  border-style    : none solid solid;
  border-color    : $white;
  border-width    : 2px;
  @include box-shadow(rgba($black, 0.7) 0 0 20px 4px);
  @include border-bottom-left-radius(8px);
  position        : absolute;
  top             : 0;
  left            : 90px;
  opacity         : 1;
}

#app.toolbar-visible .show-menu-button {
  //@include box-shadow(initial);
  //background : transparent;
  top     : -40px;
  opacity : 0;
}

.close-menu-button {
  display         : block;
  text-decoration : none;
  padding-left    : 10px;
}

.close-menu-button span[data-icon] {
  display         : inline-block;
  @include border-radius(4px);
  text-decoration : none;
  color           : black;
  padding         : 3px 4px 0 2px;
  background      : #fcd707;
  position        : relative;
  top             : 6px;
  font-size       : 23px;
}

// Toolbar transitions

#app .map-view >  header,
#app .map-view >  header > div,
#app .map-view >  .map,
#app .show-menu-button {
  @include transition(all $navbar-transition-duration);
}

#app .map-view >  header nav {
  @include transition(all $navbar-transition-duration + 300);
}

// Easing functions
#app .show-menu-button {
  @include transition-timing-function(ceaser($easeOutQuint));
}

#app.toolbar-visible .show-menu-button {
  @include transition-timing-function(ceaser($easeInQuint));
}

#app .map-view >  header,
#app .map-view >  header > div,
#app .map-view >  .map,
#app .map-view >  header nav {
  @include transition-timing-function(ceaser($easeInSine));
}

// HIDE TOOLBAR

// DELAYS
#app .map-view >  header,
#app .map-view >  .map {
  @include transition-delay($navbar-show-delay);
}

#app .map-view >  header > div,
#app.toolbar-visible > header nav {
  @include transition-delay($navbar-show-delay / 2);
}

#app.toolbar-visible .show-menu-button {
  @include transition-delay(0);
}

#app.toolbar-visible > header,
#app.toolbar-visible > header > div,
#app.toolbar-visible > .map,
#app .show-menu-button {
  @include transition-delay($navbar-show-delay);
}
