$black: #000;
$white : #fff;
$grey : #ccc;
$blue : #03a6dc;
$dark-blue : #02779e;
$yellow : #fcd707;

$sol-sol-base03:    #002b36;
$sol-sol-base02:    #073642;
$sol-sol-base01:    #586e75;
$sol-sol-base00:    #657b83;
$sol-sol-base0:     #839496;
$sol-sol-base1:     #93a1a1;
$sol-sol-base2:     #eee8d5;
$sol-sol-base3:     #fdf6e3;
$sol-yellow:    #b58900;
$sol-orange:    #cb4b16;
$sol-red:       #dc322f;
$sol-magenta:   #d33682;
$sol-violet:    #6c71c4;
$sol-blue:      #268bd2;
$sol-cyan:      #2aa198;
$sol-green:     #859900;
