@import "ceaser-easing";
@import "compass/css3";
@import 'colors';
@import 'helpers';

$editor-font-size : 24px;
$json-indent : 30px;

.editor-view header {
  background : rgba($yellow, 1);
  padding    : 2px 10px 4px;
  font-size  : 30px;
  height     : 37px;
}

.editor-view header a {
  color           : $dark-blue;
  display         : block;
  text-decoration : none;
}

.editor-view header span[data-icon] {
  font-size : 24px;
}

.editor-view header h2 {
  display : inline-block;
}

.editor-view .editor {
  //padding-top : 40px;
  padding-bottom : 40px;
}

.editor-view .editor h3 {
  font-size : 24px;
  color     : $sol-sol-base3;
  margin    : 20px 10px 15px;
}

.editor-view .editor p {
  color  : $sol-sol-base1;
  margin : 0 10px 15px;
}

.editor-view .editor .edit-json {
  // background : white url(/images/black_paper.png) repeat center;
  // @include image-2x("/images/black_paper@2x.png", 400px, 400px);
  background : $sol-sol-base03;
  border     : 6px solid $dark-blue;
  //@include box-shadow(0 1px 0 0 rgba($white, 0.8));
  @include box-shadow(0 0px 1px 1px rgba($white, 0.3), inset 2px 2px 10px 1px rgba($black, 0.9));
  font-size  : $editor-font-size;
  text-align : left;
  padding    : 30px 40px;
  position   : relative;
}

.editor-view .editor .edit-json > div,
.editor-view .editor .edit-json > div .array-item > div + div > div:first-child {
  display : table;
}

.editor-view .editor .edit-json > div .array-item > div + div > div:first-child {
  padding-right : 20px;
  position      : relative;
  z-index       : 2;
}

.editor-view .editor .edit-json > div .array-item {

}

.editor-view .editor .edit-json .line {
  display     : table-row;
  line-height : 30px;
}

.editor-view .editor .edit-json  .line > div {
  display : table-cell;
}

.editor-view .editor .edit-json .key {
  color      : $sol-yellow;
  text-align : right;
}

.editor-view .editor .edit-json .key.complex {

}

.editor-view .editor .edit-json .value {
  display     : table-cell;
  font-family : 'Source Code Pro', sans-serif;
}

.editor-view .editor .edit-json .location-map .value {
  display : block;
}

.editor-view .editor .edit-json .key span,
.editor-view .editor .edit-json .key label,
.editor-view .editor .edit-json .value input {
  display        : inline-block;
  margin-bottom  : 6px;
  padding        : 4px 10px;
  @include transition(all 250ms);
  @include transition-timing-function(ceaser($easeInSine));
  vertical-align : top;
}

.editor-view .editor .edit-json .array-item > div {
  padding-top : 20px;
  position    : relative;
}

.editor-view .editor .edit-json .key.array-index span {
  color       : $sol-magenta;
  font-weight : 700;
  font-style  : 30px;
}

.editor-view .editor .edit-json .value input {
  background  : $sol-sol-base02;
  border      : 1px solid $sol-sol-base03;
  @include border-radius(30px);
  color       : $sol-cyan;
  font-size   : 24px;
  margin-left : 20px;
  outline     : none;
  padding     : 5px 20px 2px;
  width       : 600px;
  &:hover {
    box-shadow : 0 0 15px 0 rgba($sol-blue, 0.6);
  }
  &:focus {
    background : $sol-sol-base2;
    box-shadow : 0 0 20px 2px rgba($black, 0.8);
    color      : $sol-orange;
    //@include transform(scale(1.2, 1.2));
  }
}

.editor-view .editor .edit-json .key h3 {
  color       : $sol-magenta;
  font-size   : 30px;
  font-weight : 700;
  padding     : 15px 10px 0;
  text-align  : left;
}

.editor-view .editor .edit-json .key h3 a {
  color  : $sol-green;
  cursor : pointer;
  @include transition(all 50ms);
  &:hover {
    color : adjust-lightness($sol-green, 10);
  }
}

.editor-view .location-editor {
  position : relative;
  @include transition(height 300ms ceaser($easeOutQuart));
  height   : 160px;
}

.editor-view .location-editor.show {
  height : 450px;
}

.editor-view .editor .edit-json .location-editor .location-form,
.editor-view .editor .edit-json .location-editor .location-map {
  position : relative;
  @include transition(all 400ms ceaser($easeOutQuint));
}

.editor-view .editor .edit-json .location-editor .location-form {
  z-index : 2;
}

.editor-view .editor .edit-json .location-editor.show .location-form {
  @include transform(translate3d(-500px, 0, 0));
  opacity : 0;
  z-index : 1;
}

.editor-view .editor .edit-json .location-editor .location-map {
  height       : 100%;
  left         : 0;
  opacity      : 0;
  padding-left : 20px;
  padding-top  : 80px;
  position     : absolute;
  top          : 0;
  @include transform(translate3d(500px, 0, 0));
  width        : 100%;
  z-index      : 1;
}

.editor-view .editor .edit-json .location-editor.show .location-map {
  opacity : 1;
  @include transform(translate3d(0, 0, 0));
}

.editor-view .editor .edit-json .location-map .value {
  left          : 0;
  padding-left  : 60px;
  position      : absolute;
  right         : 0;
  top           : 20px;
}

.editor-view .editor .edit-json .location-map .value .current-position {
  position : absolute;
  left    : 20px;
  top      : 4px;
}

.editor-view .editor .edit-json .location-map .value input {
  margin : 0;
  width  : 100%;
}

.editor-view .editor .edit-json .location-map .value .autocomplete {
  left       : 33px;
  margin-top : -2px;
  position   : absolute;
  right      : 16px;
  z-index    : 3;
}

.editor-view .editor .edit-json .location-map .value .autocomplete ul {

}

.editor-view .editor .edit-json .location-map .value .autocomplete ul li {
  background   : $sol-sol-base02;
  display      : block;
  padding-left : 9px;
}

.editor-view .editor .edit-json .location-map .value .autocomplete ul li + li {
  border-top : $sol-sol-base03;
}

.editor-view .editor .edit-json .location-map .value .autocomplete ul li a {
  color           : $sol-cyan;
  text-decoration : none;
  font-size       : 16px;
}

.editor-view .editor .edit-json .location-map .map-canvas {
  height : 100%;
}

.editor-view .editor .edit-json .location-actions {
  border-left  : 4px solid $sol-sol-base02;
  bottom       : 0;
  left         : 100%;
  opacity      : 0;
  padding-left : 20px;
  position     : absolute;
  top          : 0;
  @include transition(all 400ms);
  z-index      : 1;
}

.editor-view .editor .edit-json .location-map .location-actions {
  border-left : none;
  padding-top : 20px;
}

.editor-view .editor .edit-json .line:hover .location-actions {
  opacity : 1;
}

.editor-view .editor .edit-json .line .location-actions ul {
  white-space : nowrap;
  position    : relative;
  left        : 10px;
  @include transition(all 300ms);
  @include transition-timing-function($easeInQuart);
}

.editor-view .editor .edit-json .line .location-map .location-actions ul,
.editor-view .editor .edit-json .line:hover .location-map .location-actions ul {
  left : 140px;
}

.editor-view .editor .edit-json .line:hover .location-actions ul {
  left : 0;
}

.editor-view .editor .edit-json .line .show .location-map .location-actions ul {
  left : 20px;
}

.editor-view .editor .edit-json .line .location-actions ul li {
  display      : inline-block;
  margin-right : 10px;
}

.editor-view .editor a { 
  color           : $sol-green;
  cursor          : pointer;
  font-size       : 30px;
  text-decoration : none;
  @include transition(all 100ms);
  &:hover {
    color : adjust-lightness($sol-green, 10);
  }
}

// google maps link
.editor-view .editor .gmnoprint a {
  font-size: 10px;
}

.editor-view .editor a.be-careful {
  color : $sol-red;
  &:hover {
    color : adjust-lightness($sol-red, 10);
  }
}

.editor-view .editor a span {
  display : block;
}

.editor-view .editor .edit-json .editor-actions {
  position : absolute;
  top      : 10px;
  right    : 10px;
}

.editor-view .editor .edit-json .editor-actions ul {
  white-space : nowrap;
}

.editor-view .editor .edit-json .editor-actions ul li {
  display : inline-block;
}

.editor-view .editor .edit-json .editor-actions ul li a {
  color           : $sol-sol-base3;
  display         : inline-block;
  margin-right    : 10px;
  overflow        : hidden;
  position        : relative;
  text-decoration : none;
}

.editor-view .editor .edit-json .editor-actions ul li a span {
  display : inline-block;
}

.editor-view .editor .edit-json .editor-actions ul li a input[type=file] {
  font-size : 40px;
  @include opacity(0);
  position  : absolute;
  right     : 0;
  top       : 0;

}

.editor-view .editor .editor-form {
  padding : 0 10px;
}

.editor-view .editor .editor-form a {
  text-decoration : none;
  color           : $blue;
  background      : $yellow;
  font-size       : 24px;
  @include border-radius(4px);
  display         : inline-block;
  padding         : 4px 5px;
  &:hover {
    color : adjust-lightness($blue, -10);
  }
}