@import "ceaser-easing";
@import "compass/css3";
@import 'colors';
@import 'helpers';

$editor-font-size : 24px;
$json-indent : 30px;

.editor-view header {
  background : rgba($yellow, 1);
  padding    : 2px 10px 4px;
  font-size  : 30px;
  height     : 37px;
}

.editor-view header a {
  color           : $dark-blue;
  display         : block;
  text-decoration : none;
}

.editor-view header span[data-icon] {
  font-size : 24px;
}

.editor-view header h2 {
  display : inline-block;
}

.editor-view .editor {
  //padding-top : 40px;
}

.editor-view .editor .edit-json {
  // background : white url(/images/black_paper.png) repeat center;
  // @include image-2x("/images/black_paper@2x.png", 400px, 400px);
  background : $sol-sol-base03;
  border     : 6px solid $dark-blue;
  //@include box-shadow(0 1px 0 0 rgba($white, 0.8));
  @include box-shadow(0 0px 1px 1px rgba($white, 0.3), inset 2px 2px 10px 1px rgba($black, 0.9));
  font-size  : $editor-font-size;
  text-align : left;
  padding    : 30px 40px;

}

.editor-view .editor .edit-json > div,
.editor-view .editor .edit-json > div .array-item > div + div > div:first-child {
  display : table;
}

.editor-view .editor .edit-json > div .array-item > div + div > div:first-child {
  padding-right : 20px;
  position      : relative;
  z-index       : 2;
}

.editor-view .editor .edit-json > div .array-item {

}

.editor-view .editor .edit-json .line {
  display     : table-row;
  line-height : 30px;
}

.editor-view .editor .edit-json  .line > div {
  display : table-cell;
}

.editor-view .editor .edit-json .key {
  color      : $sol-yellow;
  text-align : right;
}

.editor-view .editor .edit-json .key.complex {

}

.editor-view .editor .edit-json .value {
  display     : table-cell;
  font-family : 'Source Code Pro', sans-serif;
}

.editor-view .editor .edit-json .key span,
.editor-view .editor .edit-json .value input {
  display        : inline-block;
  margin-bottom  : 4px;
  padding        : 2px 10px;
  @include transition(all 250ms);
  @include transition-timing-function(ceaser($easeInSine));
  vertical-align : top;
}

.editor-view .editor .edit-json .array-item > div {
  padding-top : 20px;
  position    : relative;
}

.editor-view .editor .edit-json .key.array-index span {
  color       : $sol-magenta;
  font-weight : 700;
  font-style  : 30px;
}

.editor-view .editor .edit-json .value input {
  background  : $sol-sol-base02;
  border      : 1px solid $sol-sol-base03;
  @include border-radius(30px);
  color       : $sol-cyan;
  font-size   : 24px;
  margin-left : 20px;
  outline     : none;
  &:hover {
    box-shadow : 0 0 15px 0 rgba($sol-blue, 0.6);
  }
  &:focus {
    background : $sol-sol-base2;
    box-shadow : 0 0 20px 2px rgba($black, 0.8);
    color      : $sol-orange;
    @include transform(scale(1.2, 1.2));
  }
}

.editor-view .editor .edit-json .key h3 {
  color       : $sol-magenta;
  font-size   : 30px;
  font-weight : 700;
  padding     : 15px 10px 0;
  text-align  : left;
}

.editor-view .editor .edit-json .key h3 a {
  color  : $sol-green;
  cursor : pointer;
  @include transition(all 50ms);
  &:hover {
    color : adjust-lightness($sol-green, 10);
  }
}

.editor-view .editor .edit-json .location-actions {
  border-left  : 4px solid $sol-sol-base02;
  bottom       : 0;
  left         : 100%;
  opacity      : 0;
  padding-left : 20px;
  position     : absolute;
  top          : 20px;
  @include transition(all 400ms);
  z-index      : 1;
}

.editor-view .editor .edit-json .line:hover .location-actions {
  opacity : 1;
}

.editor-view .editor .edit-json .line .location-actions ul {
  white-space : nowrap;
  position    : relative;
  left        : 10px;
  @include transition(all 300ms);
  @include transition-timing-function($easeInQuart);
}

.editor-view .editor .edit-json .line:hover .location-actions ul {
  left : 0;
}

.editor-view .editor .edit-json .line .location-actions ul li {
  display      : inline-block;
  margin-right : 10px;
}

.editor-view .editor .edit-json .line .location-actions a {
  color     : $sol-green;
  cursor    : pointer;
  font-size : 30px;
  @include transition(all 100ms);
  &:hover {
    color : adjust-lightness($sol-green, 10);
  }
}

.editor-view .editor .edit-json .line .location-actions a.be-careful {
  color : $sol-red;
  &:hover {
    color : adjust-lightness($sol-red, 10);
  }
}

.editor-view .editor .edit-json .line .location-actions a span {
  display : block;
}
