@import "compass/reset";
@import "compass/css3/box-sizing";



@import "helpers";
@import "icons.css";
@import "cubist.css";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Code+Pro:200,300,400,500,600,700,900);



* {
  @include box-sizing(border-box);
}

html, 
body {
  height: 100%;
  overflow : hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

pre,
code {
  font-family: 'Source Code Pro', sans-serif;
}
/*
:focus {outline:none;}
::-moz-focus-inner {border:0;}

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(0,0,0,.14),inset -1px 0 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.14);
}
::-webkit-scrollbar-corner {
  background: transparent;
}*/

@import "app";
@import "editor";   