<div>
    <header>
        <a ng-href="#!/map" class="_close-editor">
            <span data-icon="&#xe003;"></span>

            <h2>Edit your location</h2>
        </a>
    </header>
    <section class="editor">
        <h3>1. Konfigurationsdatei erstellen</h3>

        <p>Im ersten Schritt muss eine Konfigurationsdatei erstellt werden. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa ducimus enim, hic ipsam ipsum
            laboriosam molestiae omnis perspiciatis placeat quos repellat! Consequuntur deleniti dignissimos ipsa magni,
            nulla omnis quas.</p>

        <div class="edit-json">
            <div>
                <div class="line">
                    <div class="key">
                        <label for="entry-name">Wir brauchen einen Namen: </label>
                    </div>
                    <div class="value">
                        <input id="entry-name" type="text" ng-model="entry.name"/>
                    </div>
                </div>
                <div class="line">
                    <div class="key">
                        <label for="entry-statement">Was willst du der Welt mitteilen: </label>
                    </div>
                    <div class="value">
                        <input id="entry-statement" type="text" ng-model="entry.statement"/>
                    </div>
                </div>
                <div class="line">
                    <div class="key">
                        <label for="entry-url">Wo finden man dich?</label>
                    </div>
                    <div class="value">
                        <input id="entry-url" type="text" ng-model="entry.url"/>
                    </div>
                </div>
                <div class="line">
                    <div class="key">
                        <h3>Standort(e)
                            <a title="Standort hinzufügen" ng-click="onAddLocation()">
                                <span data-icon="&#xe004;"></span>
                            </a>
                        </h3>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="line array-item" ng-repeat="location in entry.locations">
                    <div class="key array-index">
                        <span>{{$index + 1}}:</span>
                    </div>
                    <div class="location-editor" ng-class="locationEditorState" ng-init="locationEditorState='show'">
                        <div class="location-form">
                            <div>
                                <div class="line">
                                    <div class="key"><label for="entry-lat-{{$index}}">Längengrad:</label></div>
                                    <div class="value">
                                        <input id="entry-lat-{{$index}}" type="text" ng-model="location.latitude"/>
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="key"><label for="entry-lng-{{$index}}">Breitengrad:</label></div>
                                    <div class="value">
                                        <input id="entry-lng-{{$index}}" type="text" ng-model="location.longitude"/>
                                    </div>
                                </div>
                                <div class="line">
                                    <div class="key"><label for="entry-desc-{{$index}}">Beschreibung:</label></div>
                                    <div class="value">
                                        <input id="entry-desc-{{$index}}" type="text" ng-model="location.description"/>
                                    </div>
                                </div>
                            </div>
                            <div class="location-actions">
                                <ul>
                                    <li>
                                        <a title="Standort auf Karte wählen"
                                           ng-click="locationEditorState='show'">
                                            <span data-icon="&#xe000;"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="be-careful" title="Standort entfernen"
                                           ng-click="onRemoveLocation($index)">
                                            <span data-icon="&#xe006;"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="location-map" 
                             ng-controller="EditorMapController"
                             ng-init="mapSearchString='';searchResults=[]">
                            <div class="value">

                                <a class="current-position"
                                   title="Aktuellen Standort ermitteln"
                                   ng-click="getCurrentPosition()">
                                    <span data-icon="&#xe00c;"></span>
                                </a>

                                <input type="text" ng-model="mapSearchString"/>

                                <div class="autocomplete">
                                    <ul>
                                        <li ng-repeat="result in searchResults"><a href="#">{{result.getAddress()}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="map-canvas"
                                 editor-map
                                 location="location"
                                 map-search-string="mapSearchString"
                                 search-results="searchResults">
                                map loading
                            </div>
                            <div class="location-actions">
                                <ul>
                                    <li>
                                        <a title="Kartenansicht schließen"
                                           ng-click="locationEditorState=''">
                                            <span data-icon="&#xe009;"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Koordinaten übernehmen"
                                           ng-click="locationEditorState=''">
                                            <span data-icon="&#xe00b;"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor-actions">
                <ul>
                    <li>
                        <a href="#"
                           title="Konfigurationsdatei laden">
                            <span data-icon="&#xe007;"></span>

                            <input type="file"
                                   class="json-upload"
                                   json-upload
                                   upload-target="$parent.entry"
                                   accept=".json"/>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           ng-click="onResetEditor()"
                           title="Konfiguration zurücksetzen">
                            <span data-icon="&#xe008;"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <h3>2. Konfigurationsdatei herunterladen</h3>

        <p>Die Konfigurationsdatei kann jetzt heruntergeladen werden. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi culpa ducimus enim, hic ipsam ipsum
            laboriosam molestiae omnis perspiciatis placeat quos repellat! Consequuntur deleniti dignissimos ipsa magni,
            nulla omnis quas.</p>

        <div class="editor-form">
            <a href="#" save-link='entry' target="_blank">Konfiguration herunterladen</a>
        </div>
    </section>

</div>
        
        