<header>
    <div>
        <a href="#" class="close-menu-button _toggle-menu">
            <span data-icon="&#xe003;"></span>

            <h1 class="logo">People Map</h1>
        </a>
        <nav>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In massa felis, ultrices vel
                    ullamcorper
                    sed, ornare a leo.</p>
            </article>
            <ul>
                <li><input type="text" placeholder="search location"></li>
                <li><a href="#" class="_open-editor"><span data-icon="&#xe000;"></span> add me</a></li>
            </ul>

        </nav>
        <footer>&copy; 2013 <a href="https://github.com/DECAF-/People-Map">DECAF</a></footer>
    </div>
    <a class="show-menu-button _toggle-menu" href="#"><span data-icon="&#xe001"></span></a>
</header>
<section class="map">
    <div id="map-container"></div>
</section>
